<div class="icon">
  <ng-content select="[emrUploadAreaIcon]"/>
</div>
<div class="content">
  <ng-content/>
  <div class="state" [class.is-active]="!isDropActive() && !isDropInvalid()">
    <ng-content select="[emrUploadAreaMainState]"/>
  </div>
  <div class="state" [class.is-active]="isDropActive() && !isDropInvalid()">
    <ng-content select="[emrUploadAreaDropState]"/>
  </div>
  <div class="state" [class.is-active]="isDropInvalid()">
    <ng-content select="[emrUploadAreaInvalidState]"/>
  </div>
</div>
