:host {
  display: block;
  padding: 4px 10px;
  transition: border-color 0.15s cubic-bezier(0.25, 0.8, 0.25, 1);
  border: var(--mdc-outlined-text-field-outline-width, 1px) solid transparent;
  outline: none;
  border-radius: 4px;
  cursor: text;
  margin-left: -10px;
  margin-right: -10px;

  &:hover {
    border-color: var(--mdc-outlined-text-field-outline-color, var(--mat-sys-outline));
  }

  &.editing {
    color: var(--mdc-outlined-text-field-input-text-color, var(--mat-sys-on-surface));
    caret-color: var(--mdc-outlined-text-field-caret-color, var(--mat-sys-primary));
  }

  &.focused {
    border-color: var(--color-primary);
    outline: 1px solid var(--color-primary);
  }
}
