<ng-content select="emr-timeline-timestamp"/>

@if (indicatorRef()) {
  <div class="line">
    <div class="relative custom-indicator">
      <div class="w-max relative z-[1]">
        <ng-container [ngTemplateOutlet]="indicatorTemplateRef"/>
      </div>
    </div>
  </div>
} @else {
  <div class="line">
    <div class="relative flex justify-center items-center indicator">
      <div class="rounded-full indicator-shape"></div>
    </div>
  </div>
}

<div class="content">
  <div class="content-inner">
    <ng-content select="emr-timeline-title"/>
    <ng-content select="emr-timeline-description"/>
    <ng-content select="emr-timeline-attributes"/>
  </div>
</div>
