<ng-content select="emr-timeline-timestamp"/>

@if (indicatorRef()) {
  <div class="line">
    <div class="custom-indicator">
      <ng-container [ngTemplateOutlet]="indicatorTemplateRef"/>
    </div>
  </div>
} @else {
  <div class="line">
    <div class="indicator">
      <div class="indicator-shape"></div>
    </div>
  </div>
}

<div class="content">
  <div class="content-inner">
    <ng-content select="emr-timeline-title"/>
    <ng-content select="emr-timeline-description"/>
    <ng-content select="emr-timeline-attributes"/>
  </div>
</div>
