@reference 'tailwindcss';

:host {
  --emr-alert-bg-color: transparent;
  --emr-alert-color: var(--color-black);
  --emr-alert-icon-color: white;
  --emr-alert-border-color: transparent;
  --emr-alert-border-radius: theme(--radius-2xl);
  --emr-alert-padding: --spacing(2.5) --spacing(3);
  --emr-alert-has-thumbnail-padding: --spacing(1.5);
  --emr-alert-gap: --spacing(3.5);
  --emr-alert-border-width: 1px;
  --emr-alert-font-size: theme(--text-sm);
  --emr-alert-thumbnail-bg: white;
  --emr-alert-thumbnail-border-radius: theme(--radius-xl);
  --emr-alert-thumbnail-size: --spacing(10);
  --emr-alert-title-font-weight: 600;
  --emr-alert-title-font-size: var(--text-xs);
  --emr-alert-actions-gap: --spacing(1);
  --emr-alert-action-height: --spacing(10);
  --emr-alert-action-padding: 0 --spacing(3.5);
  --emr-alert-action-with-icon-padding: 0 --spacing(2);
  --emr-alert-action-hover-bg: white;
  --emr-alert-action-border-radius: calc(infinity * 1px);
  --emr-alert-action-font-weight: 500;
  --emr-alert-action-hover-color: inherit;

  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: var(--emr-alert-border-radius);
  gap: var(--emr-alert-gap);
  background: var(--emr-alert-bg-color);
  padding: var(--emr-alert-padding);
  color: var(--emr-alert-color);
  font-size: var(--emr-alert-font-size);
  border: var(--emr-alert-border-width) solid transparent;

  &:has(.thumbnail:not(:empty)) {
    padding: var(--emr-alert-has-thumbnail-padding);
  }

  &:has(.emr-alert-title) {
    align-items: stretch;
  }

  .thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    background-color: var(--emr-alert-thumbnail-bg);
    color: var(--emr-alert-icon-color);
    width: var(--emr-alert-thumbnail-size);
    height: var(--emr-alert-thumbnail-size);
    border-radius: var(--emr-alert-thumbnail-border-radius);

    &:empty {
      display: none;
    }
  }

  .title {
    font-size: var(--emr-alert-title-font-size);
    font-weight: var(--emr-alert-title-font-weight);
    margin-bottom: calc(var(--spacing) * 1);
    text-transform: uppercase;
    display: block;

    &:empty {
      display: none;
    }
  }

  .actions {
    margin-inline-start: auto;
    display: flex;
    align-items: center;
    gap: var(--emr-alert-actions-gap);
    line-height: 0;
    flex: none;
  }

  ::ng-deep {
    .emr-alert-action {
      display: flex;
      flex: none;
      align-items: center;
      justify-content: center;
      height: var(--emr-alert-action-height);
      padding: var(--emr-alert-action-padding);
      border-radius: var(--emr-alert-action-border-radius);
      text-transform: uppercase;
      font-weight: var(--emr-alert-action-font-weight);

      &:hover {
        background-color: var(--emr-alert-action-hover-bg);
        color: var(--emr-alert-action-hover-color);
      }

      &:has(.mat-icon) {
        padding: var(--emr-alert-action-with-icon-padding);
      }
    }
  }

  &[emr-alert-variant="default"] {
    --emr-alert-bg-color: var(--color-surface-container);
    --emr-alert-thumbnail-bg: var(--color-neutral-400);
  }

  &[emr-alert-variant="informative"] {
    --emr-alert-bg-color: #CCE0F5;
    --emr-alert-thumbnail-bg: #B8CADD;
  }

  &[emr-alert-variant="positive"] {
    --emr-alert-bg-color: #C8E6C9;
    --emr-alert-thumbnail-bg: #B4CFB5;
  }

  &[emr-alert-variant="negative"] {
    --emr-alert-bg-color: #FFCDD2;
    --emr-alert-thumbnail-bg: #E6B9BD;
  }

  &[emr-alert-variant="notice"] {
    --emr-alert-bg-color: #FFE0B2;
    --emr-alert-thumbnail-bg: #E6CAA0;
  }
}

:host-context(html.dark) {
  --emr-alert-color: var(--color-neutral-50);
  --emr-alert-action-hover-color: var(--color-dark);

  &[emr-alert-variant="default"] {
    --emr-alert-bg-color: var(--color-neutral-700);
    --emr-alert-thumbnail-bg: var(--color-neutral-600);
  }

  &[emr-alert-variant="informative"] {
    --emr-alert-bg-color: #7D8996;
    --emr-alert-thumbnail-bg: #717B87;
  }

  &[emr-alert-variant="positive"] {
    --emr-alert-bg-color: #7A8C7B;
    --emr-alert-thumbnail-bg: #6E7E6F;
  }

  &[emr-alert-variant="negative"] {
    --emr-alert-bg-color: #9C7D81;
    --emr-alert-thumbnail-bg: #8C7174;
  }

  &[emr-alert-variant="notice"] {
    --emr-alert-bg-color: #9C896D;
    --emr-alert-thumbnail-bg: #8C7B62;
  }
}
