<app-page>
  <h1 appPageTitle>Currency Select</h1>
  <div appPageContent>
    <h3 class="mat-title-large">Basic currency select</h3>
    <emr-playground exampleUrl="_docs/forms/currency/_examples" exampleName="basic-currency-select-example">
      <app-basic-currency-select-example/>
    </emr-playground>

    <h3 class="mat-title-large">Currency select with country name</h3>
    <emr-playground exampleUrl="_docs/forms/currency/_examples" exampleName="currency-with-country-name-example">
      <app-currency-with-country-name-example/>
    </emr-playground>
  </div>
</app-page>
