<app-page>
  <h1 appPageTitle>Input Mask</h1>
  <div appPageContent>
    <h3 class="mat-title-large" id="basic-radio">Credit card number input mask</h3>
    <emr-playground exampleUrl="_docs/forms/input-mask/_examples" exampleName="credit-card-input-mask-example">
      <app-credit-card-input-mask-example/>
    </emr-playground>

    <h3 class="mat-title-large" id="basic-radio">Credit card expiry date input mask</h3>
    <emr-playground exampleUrl="_docs/forms/input-mask/_examples" exampleName="credit-card-expiry-input-mask-example">
      <app-credit-card-expiry-input-mask-example/>
    </emr-playground>

    <h3 class="mat-title-large" id="basic-radio">Credit card cvv input mask</h3>
    <emr-playground exampleUrl="_docs/forms/input-mask/_examples" exampleName="credit-card-cvv-input-mask-example">
      <app-credit-card-cvv-input-mask-example/>
    </emr-playground>
  </div>
</app-page>
